# Loops

Loops are in 2 parts -- for loop and while loop.

# While loop : -
#### While loop is used for conditions

In [11]:
count = 0
while (count<3):
    count = count + 1
    print("hello Shashank")

hello Shashank
hello Shashank
hello Shashank

In [1]:
# age = 28
# while age > 19:   # Here the test condition is always True
    # print('Infinite loop')

## while loop with continue statement

In [13]:
i = 0
while i < 10:
    if i == 5:
        i += 1  # ensure the loop variable is incremented to avoid infinite loop
        continue
    print(i)
    i += 1

0
1
2
3
4
6
7
8
9

In [2]:
# Print all letters except 'e' and 's'
i = 0
a = 'tajmahalagra'
while i < len(a):
    if a[i] == 'a' or a[i] == 'r':
        i += 1
        continue

    print(a[i],end =' ')   # end = "" (it won't print new line)
    i+=1

t j m h l g

## while loop with break statement

In [3]:
i = 0
a = 'tajmahalagra'
while i < len(a):
    if a[i] == 'a' or a[i] == 'r':
        i += 1
        break

    print(a[i],end =' ') # end = "" (it won't print new line)
    i+=1

t

## while loop with pass statement

In [16]:
# An empty loop
a = 'Samoshaalu'
i = 0

while i < len(a):
    i += 1
    pass
  
print('Value of i :', i)

Value of i : 10

# For loop :

## 1. Right Angle Triangle Pattern

In [1]:
for i in range(1,6):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

## 2. Inverted Right Angle Triangle Pattern

In [2]:
for i in range(5,0,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

## 3. Pyramid Pattern

In [ ]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))

## 4. Inverted Pyramid Pattern

In [6]:
for i in range(5,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

## 5. Diamond Pattern

In [7]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

## 6. Hallow Square Pattern

In [9]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
*   *
*   *
*   *
*****

## 7. Full Square Pattern

In [10]:
for i in range(5):
    print(' * ' * 5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

## 8. Right Angle Triangle (Number pattern)

In [11]:
for i in range (1,6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 9.Inverted  Right Angle Triangle (Number pattern)

In [12]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 10. Floyd's Triangle

In [13]:
num = 1
for i in range (1,6):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 11. Hallow Right Angle Triangle

In [14]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end= ' ')
    print()

*
* *
*   *
*     *
* * * * *

## 12. Hallow Pyramid Pattern

In [19]:
for i in range(1,6):
    for j in range(5-i):
        print(' ', end=' ')
    for j in range(2* i - 1):
        if j == 0 or j==2 * i-2 or i==5:
            print('*', end =" ")
        else:
            print(' ', end= ' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

## 13. Hallow Diamond Pattern

In [21]:
n=5
for i in range (1, n+1):
    for j in range(n-i):
        print(' ',end = ' ')
    for j in range(2*i-1):
        if j == 0 or j == 2 * i - 2:
            print("*", end=' ')
        else:
            print(' ',end= " ")
    print()

for i in range (n-1,0,-1):
    for j in range(n-i):
        print(' ',end = ' ')
    for j in range(2*i-1):
        if j == 0 or j == 2 * i - 2:
            print("*", end=' ')
        else:
            print(' ',end= " ")
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

## 14. Hallow Diamond (number Pattern)

In [22]:
n=5
for i in range (1, n+1):
    for j in range(n-i):
        print(' ',end = ' ')
    for j in range(2*i-1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ',end= " ")
    print()

for i in range (n-1,0,-1):
    for j in range(n-i):
        print(' ',end = ' ')
    for j in range(2*i-1):
        if j == 0 or j == 2 * i - 2:
            print(i, end=' ')
        else:
            print(' ',end= " ")
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

## 15. Butterfly pattern

In [29]:
n = 5

# Upper half of the diamond
for i in range(1, n + 1):
    # Print left side numbers
    for j in range(1, i + 1):
        print(j, end=' ')
    
    # Print spaces in the middle
    for _ in range(2 * (n - i)):
        print(' ', end=' ')
    
    # Print right side numbers
    for j in range(1, i + 1):
        print(j, end=' ')
    
    print()  # Move to next line

# Lower half of the diamond
for i in range(n, 0, -1):
    # Print left side numbers
    for j in range(1, i + 1):
        print(j, end=' ')
    
    # Print spaces in the middle
    for _ in range(2 * (n - i)):
        print(' ', end=' ')
    
    # Print right side numbers
    for j in range(1, i + 1):
        print(j, end=' ')
    
    print()  # Move to next line



## **
n = 5

# Upper half of the diamond
for i in range(1, n + 1):
    # Print left side numbers
    for j in range(1, i + 1):
        print('*', end=' ')
    
    # Print spaces in the middle
    for _ in range(2 * (n - i)):
        print(' ', end=' ')
    
    # Print right side numbers
    for j in range(1, i + 1):
        print('*', end=' ')
    
    print()  # Move to next line

# Lower half of the diamond
for i in range(n, 0, -1):
    # Print left side numbers
    for j in range(1, i + 1):
        print('*', end=' ')
    
    # Print spaces in the middle
    for _ in range(2 * (n - i)):
        print(' ', end=' ')
    
    # Print right side numbers
    for j in range(1, i + 1):
        print('*', end=' ')
    
    print()  # Move to next line

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

## 16. Hallow Number Pyramid

In [31]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print(' ', end = ' ')

    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i ==n:
            print(i,end = ' ')
        else:
            print(' ', end = ' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

## 17. Full Star Pyramid

In [32]:
n = 5
for i in range(1, n+1):
    for j in range(n-i):
        print(' ',end= ' ')
    for j in range(2*i-1):
        print('*', end= ' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## 18. Inverted Full Star Pyramid

In [33]:
n = 5
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end= ' ')
    for j in range(2*i-1):
        print('*', end= ' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## 19. Left Aligned Pyramid Pattern

In [34]:
n = 5 
for i in range(1,n+1):
    for j in range(i):
        print('*', end=" ")
    print()

n = 5 
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 20. Right Aligned Pyramid pattern

In [35]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ', end =" ")
    for j in range(1,i+1):
        print(j, end=' ')
    print()

n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ', end =" ")
    for j in range(1,i+1):
        print('*', end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *

# For else :
### In other languages for else is not suppotable but in python it supported.