# 14/07/2025

## Pandas With Data Science

In [41]:
import pandas as pd

# Read the Dataset

In [42]:
movies = pd.read_csv(r'C:\Users\sha2n\NITS\archive\movie.csv', sep=',')
print(type(movies))
movies.head(20)

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [43]:
tags = pd.read_csv(r'C:\Users\sha2n\NITS\archive\tag.csv', sep=',')
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [68]:
ratings = pd.read_csv(r'C:\Users\sha2n\NITS\archive\rating.csv', sep=',', parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating           timestamp
0       1        2     3.5 2005-04-02 23:53:47
1       1       29     3.5 2005-04-02 23:31:16
2       1       32     3.5 2005-04-02 23:33:39
3       1       47     3.5 2005-04-02 23:32:07
4       1       50     3.5 2005-04-02 23:29:40

In [69]:
del ratings['timestamp']
del tags['timestamp']

KeyError: 'timestamp'

# Data Structures:

In [48]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [49]:
print(row_0)

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [50]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [51]:
row_0['userId']

np.int64(18)

In [52]:
'rating' in row_0

False

In [53]:
row_0.name

0

In [54]:
row_0 = row_0.rename('firstRow')
row_0.name

'firstRow'

## DataFrames

In [55]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [56]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [57]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [58]:
tags.iloc[ [0,11,500] ]

     userId  movieId                tag
0        18     4141        Mark Waters
11       65     1783      noir thriller
500     342    55908  entirely dialogue

## Descriptive Statistics

In [59]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [60]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [61]:
ratings['rating'].mean()

np.float64(3.5255285642993797)

In [62]:
ratings.mean()

userId     69045.872583
movieId     9041.567330
rating         3.525529
dtype: float64

In [63]:
ratings['rating'].min()

np.float64(0.5)

In [64]:
ratings['rating'].max()

np.float64(5.0)

In [65]:
ratings['rating'].std()

np.float64(1.0519889192942418)

In [66]:
ratings['rating'].mode()

0    4.0
Name: rating, dtype: float64

In [67]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.000850  0.001175
movieId -0.000850  1.000000  0.002606
rating   0.001175  0.002606  1.000000

In [26]:
filter1 = ratings['rating'] > 10
print(filter1)
filter1.any()

0           False
1           False
2           False
3           False
4           False
            ...
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: rating, Length: 20000263, dtype: bool

np.False_

In [27]:
filter2 = ratings['rating'] > 0
filter2.all()

np.True_

## Data Cleaning: Handling Missing Data

In [28]:
movies.shape

(27278, 3)

In [29]:
movies.isnull().any().any()

np.False_

In [30]:
ratings.shape

(20000263, 3)

In [31]:
ratings.isnull().any().any()

np.False_

In [32]:
tags.shape

(465564, 3)

In [33]:
tags.isnull().any().any()

np.True_

In [34]:
tags=tags.dropna()

In [35]:
tags.isnull().any().any()

np.False_

In [36]:
tags.shape

(465548, 3)

## Data Visualization